# fucnction

# create a function using python 

syntax  : def name_of_function():

In [1]:
def summation(x,y):
    print(x+y)
    
summation(2,3)

5

In [5]:
#return 
def subtract(x,y):
    return(x-y)
t=subtract(9,10)
print(t)

-1

In [25]:
#use function to check list is even or odd and return only even no. 
def check_number(m):
    k=[]
    lent=len(m)
    for i in range(0,lent):
        if(m[i]%2==0):
            k.append(m[i])
    return(k)           
l=[1,2,3,4,5]
t=check_number(l)
print(k)

[]

In [24]:
# student dictionary
def studentname(k):
    j=0
    student=''
    for i,J in k:
        if J>j:
            j=J
            student=i
    return(student,j)    

D=[('ram',50),('gita',100),('shyam',30)]
highmark=studentname(D)
print(highmark)

('gita', 100)

In [26]:
mylist=[1,2,3,5]
from random import shuffle
shuffle(mylist)