# functional arguments:
# 1. *args(arguments)
# 2. **kwargs(keyword arguments)

In [28]:

def my_func(a,b):
    return sum(a,b)

In [30]:
my_func(2,3)

5

In [29]:
def my_func(*args):
    return sum(args)

In [6]:
my_func(2,3,4,5)

14

# *args can be replaced by any other keywords like *sit. however ,conventionally we use args

In [11]:
#**kwargs
def myfunc(**kwargs):
    print(kwargs)

In [12]:
myfunc(breakfast=30,lunch=40,dinner=60)

{'breakfast': 30, 'lunch': 40, 'dinner': 60}

In [18]:
def myfunc(**kwargs):
    if 'breakfast' in kwargs:
        print(f"the cost of breakfast is {kwargs['breakfast']}")
    elif'lunch' in kwargs:
        print(f"the cost of breakfast is {kwargs['lunch']}")
    else:
        print(f"the cost of breakfast is {kwargs['dinner']}")

In [19]:
myfunc(breakfast=30,lunch=40,dinner=60)

the cost of breakfast is 30

In [22]:
# usings both functional arguments 
def myfunc(*args,**kwargs):
    print('I would like to have {} {}'.format(args[0],kwargs['lunch']))

In [23]:
myfunc(5,7,9,12,breakfast='idli',lunch='paratha')

I would like to have 5 paratha

# map function

In [31]:
def mysquare(num):
    return(num**2)

In [34]:
mylist=[1,2,3,4]
# objective is to get square of each object defined in my list
map(mysquare,mylist)

In [35]:
list(map(mysquare,mylist))

[1, 4, 9, 16]

# filter function

In [36]:
def check_even(num):
    if num%2==0:
        return num

In [37]:
filter(check_even,[1,2,3,4])

In [38]:
list(filter(check_even,[1,2,3,4]))

[2, 4]

# lambda expression
#how a function is converted to lambda expression step by step

In [40]:
my_square=lambda num:num**2

In [41]:
my_square(2)

4

In [44]:
mylist=[1,2,3,4]
list(map(lambda num:num**2,mylist))

[1, 4, 9, 16]

In [46]:
list(filter(lambda num:num%2==0,[1,2,3,4]))

[2, 4]

# assignment: reverse a string 'silicon' using lambda expression

In [50]:
x=100
def xyz():
    x=70
    return x

In [51]:
xyz()

70

# oop

In [53]:
class student():
    def __init__(self,name,regd):
        self.name=name
        self.regd=regd

In [54]:
x=student('xyz',12345)

In [55]:
x

In [58]:
x.name

'xyz'

In [59]:
x.regd

12345